.header{
  background: var(--bg-color-1);
  border: 2px solid var(--border-color-1);
  width: 100%;
  box-shadow: 5px 5px 5px rgb(0,0,0,0.4);
  position: sticky;
  margin-top: 10px;
}


.header .left{
  text-align: left;
  padding: 15px;
  display: flex;
  align-items:center;
  width: 50%;

}
.header .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 50%;
}
.header .right .searchDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.header .right .searchDiv input{
  width: 90%;
}